@model InternalJobPortalMVC.Models.JobSkill

@{
    ViewData["Title"] = "CreateJobSkill";
}

<h1>CreateJobSkill</h1>

<h4>JobSkill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateJobSkill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobID" class="control-label"></label>
                <input asp-for="JobID" class="form-control" />
                <span asp-validation-for="JobID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillID" class="control-label"></label>
                <input asp-for="SkillID" class="form-control" />
                <span asp-validation-for="SkillID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "JobSkillByJobID", new { jid = Model.JobID })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
