@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@* @Model.ErrorMessage *@
@ViewData["ErrorMessage"]

<div>
    <a asp-action="Index"> Back to list</a>

</div>