<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/3f2cc28e-ce14-4dc3-9d9b-76fab1b47f75/resourceGroups/zenclass25rg/providers/Microsoft.Web/sites/InternalJobPortalApp-Team2</ResourceId>
    <ResourceGroup>zenclass25rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://internaljobportalapp-team2-d9b2h7f2a4hqdrf4.eastus2-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>be9ad78b-a31c-4e7e-84e3-2dab8e8e307e</ProjectGuid>
    <PublishUrl>https://internaljobportalapp-team2-d9b2h7f2a4hqdrf4.scm.eastus2-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>